* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f8af94;
}

nav {
  overflow: hidden;
  background-color: #4d3a33;
}

nav a {
  display: block;
  color: #e6dad2;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

nav a:hover {
  background-color: #e6dad2;
  color: #4d3a33;
}

.header {
  padding: 20px;
  text-align: center;
  background: #e6dad2;
}

.header h1 {
  font-size: 40px;
  color: #4d3a33;
}

.row {  
  width: 100%;
  display:flex;
  flex-wrap:wrap;
}

.side {
  flex: 7 1 70%; /* Grow 7, Shrink 1, Basis 70% */
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {   
  flex: 3 1 30%; /* Grow 3, Shrink 1, Basis 30% */
  background-color: white;
  padding: 20px;
}

ul {
  font-family: Tahoma, Verdana, sans-serif;
  color: #4d3a33;
  display: flex;
  justify-content: end;
  gap: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* id-name Selector */
#home {
}

/* class-name Selector */
.listItem {
  color: #4d3a33;
  font-size: larger;
  font-family: "Lucida Console", "Courier New", monospace;
}

h1 {
  font-family: Tahoma, Verdana, sans-serif;
  color: #1d1613;
  text-align: center;
}

h2 {
  font-family: Tahoma, Verdana, sans-serif;
  color: #1d1613;
}

h3 {
  font-family: Tahoma, Verdana, sans-serif;
  color: #1d1613;
}

p {
  font-family: Tahoma, Verdana, sans-serif;
  color: #1d1613;
  width: 60ch;
}

/* Bilder som står alene, ikke i seksjoner */
.one-image {
  width: 300px;      /* Sett bredde til 300px */
  height: auto;      /* Behold forholdet mellom bredde og høyde */
  border: 5px solid #c3765b;
  border-radius: 10px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;     /* Bildene "wrap"-er rundt på mindre skjermer */
  gap: 20px;           /* Mellomrom mellom bildene */
  justify-content: left; 
}

.image-container div {
  flex: 1 1 45%;       /* Justerer bredden på div-ene, 45% av foreldren */
  max-width: 300px;    /* Setter en maks bredde per bilde */
}

.image-container img {
  width: 100%;
  height: auto;
}

.text-container {
  display:flex;
  flex-wrap:wrap;
  background-color: #4d3a33;
}

.text-container > div {
  background-color: #e6dad2;
  width: 200px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}

.text-and-image {
  background-color: #c3765b;
  display: flex;              /* Bruk Flexbox for å ordne elementene horisontalt */
  align-items:center;        /* Juster elementene vertikalt (her: sentrert) */
  justify-content:center; /* Juster elementene horisontalt (her: venstrejustert) */
}

.text-and-image img {
  width: 400px; /* Sett ønsket bredde på bildet */
  height: auto; /* Behold bildeforholdet */
  margin-left: 25px; /* Valgfritt, legger til mellomrom mellom bilde og tekst */
}

.text-and-image p {
  color:#1d1613;
  margin-left: auto;
  margin: 0; /* Fjern standard margin fra paragrafen for å unngå mellomrom */
}
